body{
    background-color: #8CC461;
    overflow-x: hidden;
}

*{
    
    font-family:'Roboto', sans-serif;
}

#stars{
    position: absolute;
    width: 440px;
    height: 240px;
    top: 86px;
    left: 550px;
}

#trophy{
    position: absolute;
    width: 200.43px;
    height: 201px;
    top: 170px;
    left: 675px;
}

#bigtext{
    position: absolute;
    width: 464px;
    height: 86px;
    top: 300px;
    left: 550px;
    font-size: 91px;
    font-weight: 600;
    line-height: 107px;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
}

#smalltext{
    position: absolute;
    width: 470px;
    height: 48px;
    top: 470px;
    left: 545px;
    color: white;
    font-size: 41px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.1em;
    text-align: center;
}

#playbutton{
    position: absolute;
    cursor: pointer;
    width: 174px;
    height: 44px;
    top: 600px;
    left: 690px;
    border-radius: 9px;
    background-color: white;
    border-color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #6B6B6B;
    text-align: center;
    border-style: solid;
}

/* Here rules section starts*/

#rules_button{
    position: absolute;
    width: 119px;
    height: 40px;
    top: 650px;
    left: 1350px;
    border-radius: 10px;
    border: 2px;
    border-color: white;
    color: white;
    background-color: #8CC461;
    border-style: solid;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
}

.container{
    position: fixed;
    display: none;
    width: 300px;
    height: 325px;
    top: -290px;
    left: 1140px;
    border-radius: 13px;
    border: 7px;
    background-color: #004429;
    border-color: #FFFFFF;
    border-style: solid;
}

body.rulesTab-active .container{
    top: 290px;
}

body.rulesTab-active .container{
    display: block;
}

#close_button{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 270px;
    top: -20px;
    border: 5px;
}

#x{
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 53px;
    left: 279px;
    top: -80px;
    font-family: 'Dangrek', cursive;
    font-size: 44px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

h1{
    position: absolute;
    width: 160px;
    height: 27px;
    left: 75px;
    font-family:'Roboto', sans-serif;
    font-size: 29px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.list{
    position: absolute;
    width: 240px;
    height: 43px;
    top: 55px;
    left: 10px;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type: square;
   
}

ul li::marker {
    color: #FFD600; 
    font-size: 18px;
  }

/* Here rules section ends */  