body{
    background-color: #8CC461;
}

.header{
    position: absolute;
    width: 800px;
    height: 158px;
    top: 62px;
    left: 350px;
    border-radius: 13px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.title{
    position: absolute;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    left: 30px;
    top: 10px;
}

.scorecard{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 20px;
    top: 15px;
    left: 500px;
}
.score{
    width: 130px;
    height: 120px;
    padding-top:10px;
    border-radius: 9px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #656565;
    font-family: 'Roboto', sans-serif;
}

.win{
    font-family:'Roboto', sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #252525;
}

#rock{
    position: absolute;
    width: 80px;
    height: 58.51px;
    top: 360px;
    left: 605px;
    z-index: 99;
}

#scissor{
    position: absolute;
    width: 37px;
    height: 53.5px;
    top: 363px;
    left: 868px;
    z-index: 99;
    transform: rotate(5.27deg);
}

#paper{
    position: absolute;
    width: 72px;
    height: 72px;
    top: 548px;
    left: 730px;
    z-index: 99;
}

#paperb{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 520px;
    left: 700px;
    z-index: 90;
}

#rockb{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 329px;
    left: 580px;
    z-index: 90;
}

#scissorb{
    position: absolute;
    width: 130px;
    height: 130px;
    top: 329px;
    left: 820px;
    z-index: 90;
}

#line3{
    position: absolute;
    top: 425px;
    width: 80px;
    left: 670px;
    transform: rotate(-5deg);
}

.line{
    border-bottom: 15px;
    border-style:solid;
    width: 133px;
    border-color: rgba(0, 0, 0, 0.64);
}

.first{
    position: absolute;
    transform: rotate(60deg);
    top: 480px;
    left: 635px;
}

.second{
    position: absolute;
    left: 700px;
    top: 385px;
}

.third{
    position: absolute;
    left: 760px;
    top: 480px;
    transform: rotate(120deg);
}
