body{
    background-color: #8CC461;
}

.header{
    position: absolute;
    width: 800px;
    height: 158px;
    top: 62px;
    left: 350px;
    border-radius: 13px;
    border: 2px;
    border-color: white;
    border-style: solid;
}

.title{
    position: absolute;
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: left;
    color: white;
    left: 30px;
    top: 10px;
}

.scorecard{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 20px;
    top: 15px;
    left: 500px;
}
.score{
    width: 130px;
    height: 120px;
    padding-top:10px;
    border-radius: 9px;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #656565;
    font-family: 'Roboto', sans-serif;
}

.win{
    font-family:'Roboto', sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #252525;
}